:root{
  
}

body{
  direction: rtl;
  user-select: none;
}

.page{
  height: 100%;
  width: 100%;
}

button, input[type='submit']{
  border-radius: 5px;
  background-color: teal;
  color: white;
  cursor: pointer;
}
button:hover, input[type='submit']:hove{
  background-color: rgb(13, 97, 97);
}